.card {
  width: 270px;
  height: 320px;
  box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  background-color: #f8ecec;
}

.cardName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 6px;
  margin-top: 0;
}

.cardInfo {
  text-align: center;
}

.cardData p {
  margin: 7px;
}
