.App {
  text-align: center;
  width: 100%;
  height: 100vh;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  place-items: center;
}

.btn {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.btn button {
  padding: 13px 32px;
  background-color: #a6c299;
  font-size: 1.2rem;
  font-weight: bold;
  color: #402717;
  border: none;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn button:hover {
  transform: translateY(5px);
  box-shadow: none;
}
@media (max-width: 1450px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1150px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 880px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .pokemonCardContainer {
    grid-template-columns: 1fr;
  }
}
